<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COSDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>COSDemoAppTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>COSDemoAppTests1.4.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>COSDemoAppTests1.5.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>COSDemoAppTests1.5.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>COSDemoAppTests1.5.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>COSDemoAppTests1.5.3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>COSDemoAppTests1.5.4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>COSDemoAppTests1.5.5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>COSDemoAppTests1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>COSDemoAppTests2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4667D9F41D6C4729001C9916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4667DA0D1D6C4729001C9916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4667DA181D6C4729001C9916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862AC78201766AA009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862AC94201767CC009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACA2201767D7009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACB0201767E4009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACBE201767EC009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACCC201767F5009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACDA20176819009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A862ACE82018252A009F88C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
